<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Predictive Maintenance Analysis</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Machine Predictive Maintenance Analysis</h1>
        <form action="{{ url_for('predict') }}" method="post" class="form-style">
            <div class="form-group">
                <label for="type">Type:</label>
                <select id="type" name="Type">
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="H">H</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="air_temp">Air temperature [K]:</label>
                <input type="number" id="air_temp" name="Air temperature [K]" step="0.01">
            </div>

            <div class="form-group">
                <label for="process_temp">Process temperature [K]:</label>
                <input type="number" id="process_temp" name="Process temperature [K]" step="0.01">
            </div>

            <div class="form-group">
                <label for="speed">Rotational speed [rpm]:</label>
                <input type="number" id="speed" name="Rotational speed [rpm]">
            </div>

            <div class="form-group">
                <label for="torque">Torque [Nm]:</label>
                <input type="number" id="torque" name="Torque [Nm]" step="0.01">
            </div>

            <div class="form-group">
                <label for="tool_wear">Tool wear [min]:</label>
                <input type="number" id="tool_wear" name="Tool wear [min]">
            </div>

            <div class="form-group">
                <label for="target">Target:</label>
                <input type="number" id="target" name="Target">
            </div>

            <button type="submit" class="submit-button">Predict</button>
        </form>
    </div>
</body>
</html>
